body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ffdd00, #ff0000, #00bfff, #00ff00);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

svg {
    width: 20%;  /* Ajustar el tamaño del SVG */
    max-width: 200px;  /* Ajustar el tamaño máximo del SVG */
    height: auto;  /* Mantener la relación de aspecto */
}

.wave {
    animation: waveAnimation 2s ease-in-out infinite;
    transform-origin: center bottom;  /* Asegurar que la animación se realice desde el centro inferior */
}

.wave1 {
    animation-delay: 0s;
}

.wave2 {
    animation-delay: 0.2s;
}

.wave3 {
    animation-delay: 0.4s;
}

.wave4 {
    animation-delay: 0.6s;
}

.wave5 {
    animation-delay: 0.8s;
}

@keyframes waveAnimation {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(1.1); }  /* Reducir la escala para que no se salga del contenedor */
}

.transcript-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.transcript {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #000;
    max-width: 80%;
    text-align: center;
    display: none; /* Hidden by default */
}
